.bg-dark {
    background-color: #D84506 !important;
}

.navbar-brand {
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FBB67B;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
}

/*SECTION 1*/
#home {
    background-image: url("static/sunset_wide.png");
	/*Photo by Deer @simpledeskstop.com*/
    background-size: cover;
    background-position: center;

	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: column;
}
#home .title {
    width: 584px;
    height: 120px;
    left: 62px;
    top: 150px;

    font-family: Monoton;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 93px;
    align-items: center;
    display: flex;
    
    color: #FCFAF8;
}
#home .subtitle {
    width: 840px;
    height: 104px;
    top: 233px;
    font-family: Sacramento;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #663E03;
}
#home img {
	width: 5%;
}

#triangle {
    
    position: absolute;
    bottom: 10px;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    animation: 1.5s 0s bounce infinite;
}

/*SECTION 2*/
#about {
	min-height: 100vh;
	max-width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items:center;

	padding: 50px 50px 50px 50px;
	background-color:#FFAD8A;
}
#about h4 {
    font-family: 'Sriracha', cursive;
	line-height: 35px;
	line-height: 159%;
	font-size:22px;

	align-items: center;
	color: #C6511F;
}
#about h5 {
    font-family: 'Josefin Sans', sans-serif;
	font-size:22px;
	line-height: 159%;

	display:flex;
    align-items: center;
    color: #956200;
}
#about .profpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 35%;
}
#about article  {
    line-height: 35px;
	line-height: 159%;
	font-size:22px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 25px 25px 0px 25px;
    text-align: center !important;
    align-items: center;
    color: #956200;
}
.section-title {
	font-family: 'Unica One', cursive;
	font-style: normal;
	font-size: 37px;
	line-height: 37px;
	text-align: center;
    letter-spacing: 0.2em;
    color: #C6511F;
	padding: 10px 0px 40px 0px;
}

/*SECTION 2*/
#pendidikan {
	min-height: 100vh;
	max-width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items:center;
    text-align: center;

	padding: 50px 50px 50px 50px;
	background-color:#CB8568;
}

#pendidikan .smp .sma .uni {
    padding-bottom: 1cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 35%;
}

#pendidikan .row {
    display: flex;
    align-items: center;

    color: #FDF5B7;
}

#pendidikan h4 {
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
}

#pendidikan h5 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    color: #FDFDFD;
}

/*SECTION 3*/
#kontak{
	min-height: 40vh;
	max-width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items:center;
    text-align: center;

	padding: 50px 50px 50px 50px;
	background: #CF935B;
}

#kontak .col-sm-3{
    padding: 0 0 0 0;
}

/*karya*/
#section-a{
    background-image: url("static/cover.jpg");
    background-size: cover;
    background-position: center;
    
	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: baseline;
    padding: 0px;
}

#section-a .quote {
	font-family: 'Josefin Sans', sans-serif;;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;

	text-align: center;
	align-items: flex-end;
	justify-content: center;
	letter-spacing: 0.15em;

	width: 100vw;
	color: #FDF5B7;
	background-color: rgba(0,0,0,.7);
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

#sectionU h4{
    font-family: 'Sriracha', cursive;
	line-height: 35px;
	line-height: 159%;
	font-size:22px;

	align-items: center;
	color: #C6511F;
}

